*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

body{
	width: 1200px;
	margin: 0 auto;
	font-family: Arial, sens-serif;
}

header{
	width: 1200px;
	height: 500px;
	background: url(images/head-bg.jpg) no-repeat;
	background-size: cover;
	color: #fff;
}

.wrap{
	width: 750px;
	margin: 0 auto;
	padding-top: 5px;
}

.logo{
	color: #fff;
	font: 24px arial;
	font-weight: bold;
	text-decoration: none;
}

nav{
	display: inline-block;
	list-style: none;
	margin-left: 200px;
	vertical-align: middle; 
}

nav li{
	display: inline-block;
}

nav li:first-child{
	color: #646464;
}

nav li:nth-child(6){
	width: 15px;
	height: 15px;
	vertical-align: middle;
	background: url(images/head-soc-icon-twit.png) no-repeat;
}

nav li:nth-child(7){
	width: 10px;
	height: 18px;
	vertical-align: middle;
	background: url(images/head-soc-icon-f.png) no-repeat;
	padding-bottom: 2px; 
}

nav li:not(:first-child){
	display: inline-block;
	margin-left: 15px;
}

nav li:hover{
	cursor: pointer;
	color: #646464;
}

.wrap-tagline{
	margin-top: 120px;
}
.wrap-tagline p{
	margin-bottom: 15px;
}

.wrap-tagline h1{
	text-transform: uppercase;
	font-family: arial;
	font-size: 44px;
	margin-bottom: 20px;
}

.wrap-tagline a{
	display: inline-block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	padding: 2px 15px;
	font-size: 13px;
	font-weight: bold;
	border-radius: 2px;
}

.wrap-tagline a:hover{
	opacity: 0.7;
}

.more-info{
	background: #e92121;
	margin-right: 20px;
}

.wrap-tagline a.choose-decor{
	height: 33px;
	line-height: 33px;
	border: 1px solid #fff;
}

/*--------content---------*/

.wrap-history{
	width: 1200px;
	margin: 0 auto;
}

.wrap-history .left{
	display: inline-block;
	width: 300px;
	vertical-align: top;
	margin: 140px 160px 0 150px;
}

.wrap-history .left h2{
	font-size: 46px;
	color: #646464;
	text-transform: uppercase;
}


.wrap-history .right{
	display: inline-block;
	width: 380px;
	margin: 50px 0 0 0;
	margin-bottom: 60px;
}

.wrap-history .right p{
	margin-bottom: 40px;
	color: #c1c1c1;
	font-size: 14px;
	line-height: 25px;
}

.wrap-history hr{
	height: 1px;
	background: #c1c1c1;
	margin-bottom: 100px;
}


/*---------WORK-----------*/

.work{
	margin-bottom: 50px;
}

.work .head-section{
	width: 400px;
	margin: 0 auto;
	margin-bottom: 150px;
}

.work .head-section h4{
	position: relative;
	font-size: 24px;
	color: #464646;
	text-align: center;
	margin-bottom: 50px;
}

.work .head-section h4:after{
	content: '';
	position: absolute;
	background: url(images/bottom-line.png) no-repeat;
	width: 70px;
	height: 10px;
	left: 160px;
	top: 50px;
}

.work .head-section p{
	width: 380px;
	color: #c1c1c1;
	text-align: center;
	line-height: 25px;
	margin-bottom: 100px;
}


.items{
	display: inline-block;
	position: relative;
	width: 300px;
	margin: 0 0 110px 90px;
}

.head-item-work{
	width: 240px;
	color: #464646;
	margin-bottom: 15px;
}

.items p:not(.head-item-work){
	font-size: 14px;
	width: 300px;
	color: #646464;
}

.item1:before{
	content: '';
	background: url(images/icon-item1.png) no-repeat;
	position: absolute;
	width: 65px;
	height: 65px;
	top: -80px;
}

.item2:before{
	content: '';
	background: url(images/icon-item2.png) no-repeat;
	position: absolute;
	width: 65px;
	height: 65px;
	top: -80px;
}

.item3:before{
	content: '';
	background: url(images/icon-item3.png) no-repeat;
	position: absolute;
	width: 65px;
	height: 65px;
	top: -80px;
}

.item4:before{
	content: '';
	background: url(images/icon-item4.png) no-repeat;
	position: absolute;
	width: 65px;
	height: 65px;
	top: -80px;
}

.item5:before{
	content: '';
	background: url(images/icon-item5.png) no-repeat;
	position: absolute;
	width: 65px;
	height: 65px;
	top: -80px;
}

.item6:before{
	content: '';
	background: url(images/icon-item6.png) no-repeat;
	position: absolute;
	width: 65px;
	height: 65px;
	top: -80px;
}

/*--------------slider--------------*/

.slider{
	height: 300px;
	background: #faf9f9;
	position: relative;
	margin-bottom: 80px;
}

.slider:before{
	content: '';
	background: url(images/slider-arrow-left.png) no-repeat;
	position: absolute;
	width: 20px;
	height: 50px;
	left: 0;
	top: 140px;
	cursor: pointer;
}

.slider:after{
	content: '';
	background: url(images/slider-arrow-right.png) no-repeat;
	position: absolute;
	width: 21px;
	height: 50px;
	right: 0;
	top: 140px;
	cursor: pointer;
}

.slider img{
	display: inline-block;
	width: 250px;
	height: 250px;
	margin: 20px 60px 0 300px;
}

.info-ring{
	display: inline-block;
	vertical-align: top;
	width: 350px;
	margin: 50px 0 0 0;
}


.info-ring p strong{
	position: relative;
	color: #646464;
	font-size: 22px;
	margin-bottom: 50px;
}

.info-ring strong:after{
	content: '';
	position: absolute;
	background: url(images/bottom-line.png) no-repeat;
	width: 70px;
	height: 10px;
	left: 0;
	top: 35px;
}

.info-item{
	margin: 30px 0 30px 0;
	color: #c1c1c1; 
}

.info-ring a{
	display: inline-block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	padding: 2px 15px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 2px;
}

/*----------WHY----------*/

.why-choose{ margin-bottom: 50px;}

.why-choose .left{
	display: inline-block;
	margin: 50px 150px 0 200px;
	vertical-align: top;
}

.why-choose .left h3{
	width: 180px;
	color: #646464;
	text-transform: uppercase;
	font-size: 40px;
}

.why-choose .right{
	display: inline-block;
}

.outer-wrap-left{
	display: inline-block;
	width: 240px;
	margin-right: 50px;
}

.outer-wrap-left p,
.outer-wrap-right p{
	margin-bottom: 30px;
	color: #c1c1c1;
	font-size: 14px;
	line-height: 20px;
}

.outer-wrap-left h4,
.outer-wrap-right h4{
	margin-bottom: 10px;
	color: #646464;
}

.outer-wrap-right{
	display: inline-block;
	width: 240px;
}

/*-----OUR JEWELERY-------*/

.wrap-rings{
	width: 960px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.wrap-rings img{
	display: inline-block;
}
.wrap-rings h3{
	display: inline-block;
	position: relative;
	width: 200px;
	vertical-align: top;
	text-transform: uppercase;
	font-size: 40px;
	color: #464646;
	margin: 80px 40px;
}

.wrap-rings h3:after{
	content: '';
	position: absolute;
	background: url(images/bottom-line.png) no-repeat;
	width: 70px;
	height: 10px;
	left: 0;
	bottom: -60px;
}

.about-jewelery{
	width: 960px;
	margin-left: 120px;
	margin-bottom: 150px;
}

.about-jewelery p{
	display: inline-block;
	width: 370px;
	vertical-align: top;
	line-height: 22px;
	color: #646464;
	font-size: 14px;
}

.first-col{
	margin: 0 110px 0 125px;
}


/*---------COMMENTS---------------*/

.comments{
	margin-bottom: 80px;
}

.comments .head-section{
	width: 400px;
	margin: 0 auto;
}

.comments .head-section h4{
	position: relative;
	font-size: 24px;
	color: #464646;
	text-align: center;
	margin-bottom: 50px;
}

.comments .head-section h4:after{
	content: '';
	position: absolute;
	background: url(images/bottom-line.png) no-repeat;
	width: 70px;
	height: 10px;
	left: 160px;
	top: 50px;
}

.comments .head-section p{
	width: 380px;
	color: #c1c1c1;
	text-align: center;
	line-height: 25px;
	margin-bottom: 60px;
}

.wrap-customers> div{
	margin-bottom: 50px;
	padding-left: 100px;
}

.wrap-customers .inline-items{
	display: inline-block;
	width: 250px;
	vertical-align: top;
	margin-left: 80px;
}

.inline-items span{
	display: block;
	font-weight: bold;
	color: #646464;
	position: relative;
	margin-bottom: 10px;
}

.inline-items span:before{
	content: '';
	background: url(images/icon-quote.png) no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
	top: -10px;
	left: -50px;
}

.inline-items span+p{
	font-size: 14px;
	color: #c1c1c1;
	margin-bottom: 10px;
}

.inline-items p+p{
	font-size: 15px;
	color: #c1c1c1;
	line-height: 20px;
}

/*-----------PHOTOBLOG------------*/

.photoblog{margin-bottom: 50px;}

.wrap-photo{
	width: 1220px;
	margin-bottom: 20px;
}

.img1{
	display: inline-block;
	width: 300px;
	height: 300px;
	background: url(images/photoblog1.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

.img2{
	display: inline-block;
	width: 300px;
	height: 300px;
	background: url(images/photoblog2.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

.img3{
	display: inline-block;
	width: 300px;
	height: 300px;
	background: url(images/photoblog3.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

.img4{
	display: inline-block;
	width: 300px;
	height: 300px;
	background: url(images/photoblog4.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

.img5{
	display: inline-block;
	width: 300px;
	height: 300px;
	background: url(images/photoblog5.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

.img6{
	display: inline-block;
	width: 300px;
	height: 300px;
	background: url(images/photoblog6.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

.wrap-photo .header-img{
	display: inline-block;
	width: 604px;
	height: 300px;
	vertical-align: top;
}

.header-img h3{
	position: relative;
	width: 200px;
	text-transform: uppercase;
	font-size: 50px;
	color: #646464;
	padding-top: 100px;
}

.header-img h3:after{
	content: '';
	position: absolute;
	background: url(images/bottom-line.png) no-repeat;
	width: 70px;
	height: 10px;
	left: 0;
	bottom: -80px;
}

.about-photoblog p{
	display: inline-block;
	width: 480px;
	vertical-align: top;
	line-height: 25px;
	color: #646464;
	font-size: 14px;
}

.first-col{
	margin: 0 200px 0 0;
}

/*--------FOOTER------*/

footer{
	background: #141414;
	height: 250px;
	color: #464646;
}

footer .logo{
	margin-left: 50px;
	margin-bottom: 50px;
}

footer .left-col,.right-col{
	display: inline-block;
	width: 500px;
	vertical-align: top;
	margin-top: 50px;
}

.left-col{
	margin-right: 100px;
	margin-left: 20px;
}

.left-col ul,ol{
	list-style: none;
}

.left-col ul{
	margin-top: 50px;
	width: 600px;
}

.left-col ul>li{
	display: inline-block;
	width: 150px;
	margin-left: 50px;
}

.left-col ol>li{
	margin-bottom: 15px;
}

.left-col ul>li:first-child ol>li:first-child{text-decoration: underline;}




.right-col{
	text-align: right;
}

.right-col ul{
	list-style: none;
	margin-bottom: 60px;
}

.right-col ul li{
	display: inline-block;
}

.right-col ul li:first-child{
	background: url(images/soc-icon-f.png) no-repeat;
	width: 25px;
	height: 24px;
}

.right-col ul li:nth-child(2){
	background: url(images/soc-icon-twit.png) no-repeat;
	width: 25px;
	height: 24px;
}

.right-col ul li:nth-child(3){
	background: url(images/soc-icon-circle.png) no-repeat;
	width: 25px;
	height: 24px;
}

.right-col ul li:last-child{
	background: url(images/soc-icon-g.png) no-repeat;
	width: 25px;
	height: 24px;
}

.right-col p{
	margin-bottom: 10px;
}



